.home-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner-container {
	position: relative;
	width: 100vw; /* Set the width to 100vw (100% of the viewport width) */
	height: 30vh;
	overflow: hidden; /* Hide horizontal overflow (if any) */
	margin-top: -380px; /* Adjust*/
}

.banner-image {
	width: 100%;
	max-height: auto; /* Adjust the maximum height as needed for your banner */
	object-fit: cover; /* Maintain aspect ratio and cover the entire width */
	border-top: 1px solid #ccc; /* Add a border at the top of the banner container */
	border-bottom: 1px solid #ccc; /* Add a border at the bottom of the banner container */
}
