.home-page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.banner-container {
	position: relative;
	width: 100%;
}

.banner-image {
	width: 100%;
	max-height: 300px; /* Adjust the maximum height as needed for your banner */
	object-fit: cover; /* Maintain aspect ratio and cover the entire width */
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid #ccc; /* Add a border at the top of the banner */
	border-bottom: 1px solid #ccc; /* Add a border at the bottom of the banner */
}
