.footer {
	background-color: black;
	color: white;
	padding-top: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.footer-pad {
	padding-top: 100px;
}

/* Apply styles to the body or a container element */
.login-body {
	margin: 0;
	padding: 0;
	height: 100%;
}

/* Create the split effect using the ::before pseudo-element */
.login-body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 50%; /* Adjust this value to control the split point */
	height: 100%;
	background-color: #f0f0f0; /* Color for the left side */
	z-index: -1; /* Place it behind the content */
}

/* Styles for the right side */
.main-content {
	position: relative;
	z-index: 1; /* Place it above the pseudo-element */
	background-color: white; /* Color for the right side */
	width: 50%;
	height: 100%;
	float: right; /* Align to the right */
}

/* Create a container div to center the image and icon */
.centered-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
}

/* Style the image as needed */
.centered-container img {
	max-width: 100%;
	max-height: 100%;
}

/* Style the icon container */
.icon-container {
	margin-top: 10px; /* Adjust this value to control the space between image and icon */
	text-align: center;
}

/* Style the icon as needed */
.fa-icon {
	/* Add any icon-specific styling here, or use an actual icon library and customize accordingly */
	font-size: 24px; /* Adjust the size of the icon */
	color: #333; /* Adjust the color of the icon */
}
