.footer {
	background-color: black;
	color: white;
	padding-top: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.footer-pad {
	padding-top: 100px;
}

/* Apply styles to the body or a container element */
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* Create the split effect using the ::before pseudo-element */
body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 50%; /* Adjust this value to control the split point */
	height: 100%;
	background-color: #f0f0f0; /* Color for the left side */
	z-index: -1; /* Place it behind the content */
}

/* Styles for the right side */
.main-content {
	position: relative;
	z-index: 1; /* Place it above the pseudo-element */
	background-color: white; /* Color for the right side */
	width: 50%;
	height: 100%;
	float: right; /* Align to the right */
}
