.login-signup-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .login-signup-button.glow {
    background-color: #ffcc00; /* Change this to your desired glow color */
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.7); /* Add a subtle box-shadow for the glow effect */
  }
  

  .login-signup-button:hover {
    background-color: #ffcc00; /* Change this to your desired hover color */
    box-shadow: 0 0 10px rgba(255, 204, 0, 0.7); /* Increase the box-shadow size on hover for the glow effect */
  }
  


  .button-container {
    position: relative; /* Allows absolute positioning of children */
    width: 200px; /* Adjust container width as needed */
    height: 100px; /* Adjust container height as needed */
  }
  
  .login-signup-button {
    position: absolute; /* Overlap LoginSignupButton components */
    top: 0; /* Adjust this value to control the vertical position */
    left: 0; /* Adjust this value to control the horizontal position */
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
  }
  
  .login-signup-button + .login-signup-button {
    left: 70px; /* Adjust this value to control the horizontal overlap */
    background-color: #ffcc00;
  }
  