.split-container {
	display: flex;
	height: 100vh;
	overflow: hidden;
}

.half {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 10px;
}

.grey-bg {
	background-color: #888888; /* Grey background color */
	color: white;

}

.white-bg {
	background-color: white;
	color: #888888; /* Grey text color */
}
