/* StaggeredGridAnimation.css */

/* Style for individual boxes */
.box {
	width: 10px;
	height: 10px;
	background-color: #ff3b30;
	margin: 10px;
	display: inline-block;
	border-radius: 50px;
	z-index: 3;
}

/* Style for the grid container */
.grid-container {
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(120px, 1fr)
	); /* Adjust the box size and container as needed */
	gap: 1px; /* Adjust the gap between boxes */
	justify-content: center;
	align-content: center;
	padding: 1px;
}

/* Additional styling for the grid container, if desired */
.grid-container {
	border: 2px solid #cccccc00;
	background-color: #f0f0f000;
	border-radius: 5px;
	padding: 20px;
}
