.banner-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	width: 100%;
	height: auto;
	max-height: 30vh;
}

.banner-image {
	width: 100%;
	max-height: auto; /* Adjust the maximum height as needed for your banner */
	object-fit: contain; /* Maintain aspect ratio and cover the entire width */
	border-top: 1px solid #ccc; /* Add a border at the top of the banner container */
	border-bottom: 1px solid #ccc; /* Add a border at the bottom of the banner container */
}
