/* Styles for the circle component */
.circle-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100px; /* Adjust the width as needed */
}

.red-circle {
	width: 300px; /* Fixed circle size */
	height: 300px; /* Fixed circle size */
	background-color: #ff3b30;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px; /* Adjust padding to control text spacing */
	overflow: hidden; /* Hide overflow text */
}

.circle-image {
	max-width: 100%;
	max-height: 100%;
}

.circle-heading {
	margin-top: 10px;
	font-weight: bold;
	color: white;
}

.circle-paragraph {
	margin-top: 10px;
	max-width: 100%; /* Ensure text does not exceed circle width */
	overflow: hidden; /* Hide overflow text */
	font-size: 14px; /* Adjust font size as needed */
	line-height: 1.2; /* Adjust line height as needed */
	color: white;
}
