.carousel-container {
	display: flex;
	overflow: hidden;
	width: 100%;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 50vh; /* Adjust the height as needed */
	padding-top: 100px;
	padding-bottom: 50px;
}

.carousel-circle {
	opacity: 0;
	transform: translateX(100%);
	transition: opacity 0.5s, transform 0.5s;
}

.carousel-circle.active {
	opacity: 1;
	transform: translateX(0);
}

.circle-container {
	padding: 20px;
	text-align: center;
	background-color: #ffffff00; /* Background color for each circle */
}

.circle-container:not(:last-child) {
	margin-right: 20px; /* Spacing between circles */
}

.circle-image {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
}

.circle-heading {
	margin-top: 10px;
	font-size: 1.5rem;
	color: #ffffff; /* Heading text color */
}

.circle-paragraph {
	margin-top: 10px;
	font-size: 1rem;
	color: #ffffff; /* Paragraph text color */
}
